[user]
	name = alarwasyi98
	email = alarwasyi98@gmail.com
[init]
	defaultBranch = main
[credential]
	helper = store
[safe]
	directory = /storage/emulated/0/Obsidian
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
