[user]
	name = alarwasyi98
	email = alarwasyi98@gmail.com
[init]
	defaultBranch = main
[credential]
  helper = store 
[merge]
	renamelimit = 99999
[pull]
	rebase = false
[fetch]
  parallel = 0
[color]
  ui = auto
[safe]
	directory = /storage/emulated/0/Obsidian
[alias]
  br = branch
	chp = cherry-pick --no-commit
	ci = commit
	co = checkout
	ls = log -n20 --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %C(bold blue)by %an%Creset %C(green)%cr%Creset' --abbrev-commit
	mrg = merge --no-commit --no-ff
	pl = pull --recurse-submodules
	ps = push
	smu = submodule update --init
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
